## NCBA-GROUP-NSE-STOCK-PRICE-PREDICTION

In [19]:
#importing libraries

import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import seaborn as sns

from sklearn.linear_model import LinearRegression

import statsmodels.api as sm

%matplotlib inline

In [20]:

data = pd.read_csv('C:/Users/pcx/Downloads/NCBA-GROUP-NSE-STOCK-PRICE-PREDICTION/data/Ncba_share_prices.csv')

In [21]:
data

          Date   Open   High    Low   Close         Volume
0     05/07/25  50.00  50.00  49.10   49.10   47400.000000
1     05/06/25  48.50  50.00  48.50   49.05   96100.000000
2     05/05/25  48.70  49.50  48.00   49.05   45200.000000
3     05/02/25  53.50  53.50  48.80   49.45    8200.000000
4     04/30/25  54.25  54.75  52.75   54.00  293900.000000
...        ...    ...    ...    ...     ...            ...
1385  10/07/19  26.36  27.73  26.36   26.36  445059.957452
1386  10/04/19  26.77  28.18  25.91   26.77   14189.998643
1387  10/03/19  28.27  28.64  27.73   28.27   85139.991861
1388  10/02/19  28.32  28.86  28.18   28.32    9679.999075
1389  10/01/19  28.09  28.64  27.68   28.09    4069.999611

[1390 rows x 6 columns]

## Data Description

Date- This column indicates the specific date for which the stock data is recorded, providing a temporal context for the trading activity.

Open- The opening price of the stock at the start of trading for the given day.

High- The highest price the stock reached during the trading day.

Low- The lowest price the stock reached during the trading day.

Close- The final price of the stock at the end of trading for the given day.

Volume- The total number of shares traded for the stock on that particular day, indicating market activity and liquidity.

In [22]:
data.head(10)

       Date   Open   High    Low   Close    Volume
0  05/07/25  50.00  50.00  49.10   49.10   47400.0
1  05/06/25  48.50  50.00  48.50   49.05   96100.0
2  05/05/25  48.70  49.50  48.00   49.05   45200.0
3  05/02/25  53.50  53.50  48.80   49.45    8200.0
4  04/30/25  54.25  54.75  52.75   54.00  293900.0
5  04/29/25  54.75  54.75  53.00   54.00   70500.0
6  04/28/25  54.50  55.00  54.00   54.75    8600.0
7  04/25/25  54.00  54.50  52.75   54.00   14100.0
8  04/24/25  54.50  54.50  54.00   54.25    3100.0
9  04/23/25  54.50  54.50  52.25   53.75   24500.0

In [23]:
data.describe()

              Open         High          Low        Close        Volume
count  1390.000000  1390.000000  1390.000000  1390.000000  1.390000e+03
mean     32.901086    33.331432    32.313396    32.772317  2.024240e+05
std       8.280490     8.383890     8.108607     8.227091  1.579720e+06
min      21.500000    21.950000    20.000000    20.200000  1.000000e+02
25%      25.500000    25.910000    25.050000    25.450000  1.500000e+04
50%      31.260000    31.820000    30.575000    31.295000  3.620000e+04
75%      39.000000    39.737500    38.500000    39.000000  1.029325e+05
max      56.000000    56.500000    54.000000    54.750000  5.448260e+07